<nav class="nav">
    <div class="nav__container-logo">
        <img class="nav__logo" src="logo-juninho.jpeg" alt="logo">
    </div>
    @if (!isMobile) {
    <div class="nav__items">
        @for (section of menuItems; track $index) {
        <button class="nav__scroll-button"
            (click)="scrollTo(section.value)">{{section.label}}</button>
        }
    </div>
    } @else {
    <button mat-button [matMenuTriggerFor]="menu" class="nav__container-menu"><mat-icon
            class="nav__menu">menu</mat-icon></button>
    <mat-menu #menu class="matMenu">
        @for (section of menuItems; track $index) {
        <button mat-menu-item (click)="scrollTo(section.value, menu)">{{section.label}}</button>
        }
    </mat-menu>
    }
</nav>