$red-hat-text: 'Red Hat Text', 'sans-serif';
$red-hat-display: 'Red Hat Display', 'sans-serif';
$bebas-neue: 'Bebas Neue', 'sans-serif';

$font-14: 14px;

$font-semibold: 600;

.font-hat-text {
  font-family: $red-hat-text;
}

.font-hat-display {
  font-family: $red-hat-display;
}

.font-bebas {
  font-family: $bebas-neue;
}

.font-14 {
  font-size: $font-14;
}

.font-semibold {
  font-weight: $font-semibold;
}

.bg-orange {
  background-color: #ff5722;
}

.text-orange {
  color: #ff5722;
}

.card-box-border {
  border: 1px solid rgba(255, 106, 44, 0.3);
  box-shadow: 0 0 30px rgba(255, 106, 44, 0.25);
}
