<app-navbar class="fixed z-10 w-full" (scrollToSection)="scrollToSection($event)"></app-navbar>

<main class="home z-0">
    <div class="home__bg bg-cover bg-no-repeat bg-center p-4 bg-fixed fixed top-0 left-0 w-full h-screen -z-10"></div>
    <section id="home" class="home__section pt-28 px-4 pb-4 flex justify-center">
        <div class="home__container flex flex-col h-fit p-4 rounded-2xl">
            <div class="home__content-title flex flex-col h-full pl-2 pt-4 gap-4">
                <div class="home__container-title pt-8 flex flex-col gap-2">
                    <span class="home__title font-bebas">
                        Lavagem profissional, detalhamento e cuidado completo para o seu veículo em Ribeirão Preto.
                    </span>
                    <span class="home__subtitle font-bebas text-base">
                        Na Garagem do Juninho, cuidamos do seu carro como se fosse nosso. Trabalhamos com produtos de
                        alta
                        qualidade e atenção aos mínimos detalhes para garantir um resultado impecável.
                    </span>
                </div>
                <div class="home__benefits flex flex-col self-center gap-2 tablet:self-start tablet:pl-12">
                    @for (benefit of benefits; track $index) {
                    <div>
                        <span class="home__benefit font-bebas">{{benefit.title}}</span>
                        <ul>
                            <li class="home__benefit-list font-bebas list-disc">{{benefit.subtitle}}</li>
                        </ul>
                    </div>
                    }
                </div>
                <div class="flex w-full pt-2 justify-center">
                    <button
                        class="home__budget-button items-center flex bg-black text-white rounded-full justify-center p-1 font-bebas w-1/3 text-base"
                        (click)="budgetWpp()">
                        <img class="home__budget-icon bg-white w-6 h-6 rounded-full" src="assets/images/whatsapp-icon.png"
                            alt="Whatsapp icon">
                        <span class="pt-1">Solicitar orçamento</span></button>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="whoWeAre p-4">
        <div
            class="whoWeAre__glass-card flex flex-col desktop:flex-row bg-black/70 backdrop-blur-md rounded-2xl mx-auto max-w-4xl">
            <div class="flex flex-col gap-4 p-8 max-w-lg">
                <div class="border-b-4 border-orange-600 w-fit">
                    <h2 class="uppercase text-white font-bebas text-4xl">Quem somos</h2>
                </div>
                <div class="">
                    <p class="text-white text-sm">A Garagem do Juninho nasce da paixão por carros e do compromisso em entregar um serviço de
                        qualidade de verdade.</p>
                        <br>
                    <p class="text-white text-sm">Idealizada por um bombeiro que, nas horas de folga, decide transformar o cuidado com veículos em
                        um trabalho sério, a Garagem do Juninho carrega valores como responsabilidade, atenção aos
                        detalhes e dedicação em tudo o que faz.</p>
                        <br>
                    <p class="text-white text-sm">Com o crescimento da ideia, sua esposa também entra no projeto, somando ainda mais capricho,
                        organização e cuidado em cada atendimento — Fortalecendo um trabalho feito com união e
                        propósito.</p>
                        <br>
                    <p class="text-white text-sm">Os serviços são realizados em uma garagem preparada e adaptada para oferecer conforto, atenção e
                        um atendimento mais próximo e personalizado.</p>
                        <br>
                    <p class="text-white text-sm">Aqui, cada carro é tratado com respeito — Como se fosse nosso. Utilizamos técnicas e produtos
                        adequados para garantir não só a limpeza, mas também a conservação e valorização do seu veículo.
                    </p>
                    <br>
                    <p class="text-white text-sm">Mais do que um serviço, buscamos oferecer confiança, transparência e um resultado que você
                        percebe no visual e no conforto ao dirigir.
                        <br>Cuidado, qualidade e confiança em cada detalhe.
                </div>
            </div>
            <div class="w-full">
                <img src="assets/images/car-wash.jpg" class="rounded-2xl p-2 w-full desktop:hidden" alt="Quem somos image">
                <img src="assets/images/car-wash3.avif" class="rounded-2xl p-2 w-full h-full hidden desktop:block" alt="Quem somos image">
            </div>
        </div>
    </section>

    <app-our-services></app-our-services>

    <section id="contact">
        <div class="contact">
            CONTACT
        </div>
    </section>
</main>