@use 'variables' as *;

.find-us {
  &__map-iframe {
    height: 250px;
    width: 300px;
    border-radius: 1rem;
  }

  &__see-on-map {
    transition: color 0.6s ease;

    &:hover,
    &:active {
      color: #ff5722;
    }
  }

  @media screen and (min-width: 1025px) {
    &__container {
        width: 1030px;
    }
    
    &__map-iframe {
      width: 590px;
    }
  }
}
